defaults
  mode http
  timeout client 1s
  timeout server 1s
  timeout connect 5s
  timeout http-request 10s
  retries 3
  option redispatch
frontend http-frontend
  mode http
  bind *:80
  default_backend http-backend
backend http-backend
    mode http
    balance roundrobin
        server platform1 185.241.192.11:5000 check
        server platform2 185.241.195.151:5000 check
        server platform3 185.241.195.174:5000 check
